@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  /* Main colors */
  --color-white: #FFFFFF;
  --color-primary: #0855ca;
  --sub-text-color: #666;
  --blacl-text-color: #3a3a3a;
  --title-text-size:2rem;
  --border-raduis:8px;
  --con-border-raduis:1rem;
  --button-font-weight: 500;
  --text-font-weight:600;
  --delete-button-color: #dc3545;
  --edit-button-color: #0855ca;
  --text-size-1:16px;
  --text-size-2:18px;
  --text-size-3:14px;
  --title-text-size:2rem;
  --second-title-text-size:24px;
  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  --box-shadow-hover:0 6px 12px rgba(0, 0, 0, 0.2);
  --box-background-color: #f0f2f5

}

body {
  min-height: 100vh;
  background-color: var(--color-white);
}

section {
  margin-top: 1rem;
  margin-bottom: 3rem;
  margin-left: 7rem;
  margin-right: 7rem;
  text-align: center;
}


.back-button {
  display: flex;
  height: 3em;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  letter-spacing: 1px;
  transition: all 0.2s linear;
  cursor: pointer;
  border: 2px solid var(--delete-button-color);
  background-color: var(--delete-button-color);
  position: relative; /* Ensure it positions ::before properly */
  z-index: 1; /* Ensure it's above the ::before element */
  font-size:var(--text-size-1);
  color: var(--color-white);
  padding: 15px 20px;
  font-weight: var(--button-font-weight);

  
}

.back-button span{
    margin-left: 10px;
  }

.error-message
{
  text-align: left;
  margin-left: .1rem;
  margin-top: .2rem;
  font-size: var(--text-size-1);
  color: var(--delete-button-color);
}


 