.recipe-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 items per row */
    gap: 20px; /* Space between the cards */
    margin-top: 3rem;
  }

  .view-recipe-title {
    font-size: 2rem;
    color:var(--blacl-text-color);
    text-align: center;
    margin-top: 20px;
  }
  